[Unit]
Description=SEOCOIN's distributed currency daemon
After=network.target

[Service]
User=seocoin
Group=seocoin

Type=forking
PIDFile=/var/lib/seocoind/seocoind.pid

ExecStart=/usr/bin/seocoind -daemon -pid=/var/lib/seocoind/seocoind.pid \
          -conf=/etc/seocoin/seocoin.conf -datadir=/var/lib/seocoind

ExecStop=-/usr/bin/seocoin-cli -conf=/etc/seocoin/seocoin.conf \
         -datadir=/var/lib/seocoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
